export(getEntityDomain)
export(is.mdset)
export(is.subset)
export(newInstance)
export(newSMS)
export(newSMSset)
export(newSMSconst)
export(newSMSpar)
export(newSMSvar)
export(newSMSeq)
export(newInstanceSet)
export(newInstancePar)
export(defInstanceEqs)
export(`importGams<-`)
exportClasses(optimInstance)
exportClasses(optimSMS)
exportMethods(`addItem<-`)
exportMethods(`upItem<-`)
exportMethods(`delItem<-`)
exportMethods(`addSet<-`)
exportMethods(`importPar<-`)
exportMethods(`addPar<-`)
exportMethods(`assignEq<-`)
exportMethods(SMSconsts)
exportMethods(SMSeqs)
exportMethods(SMSpars)
exportMethods(SMSsets)
exportMethods(SMSvars)
exportMethods(exportPars)
exportMethods(getAliases)
exportMethods(getConsts)
exportMethods(getEq)
exportMethods(getEqs)
exportMethods(getExpr)
exportMethods(getInstance)
exportMethods(getModel)
exportMethods(getMultiSets)
exportMethods(getParent)
exportMethods(getPars)
exportMethods(getSets)
exportMethods(getSolution)
exportMethods(getSubsets)
exportMethods(getSymbol)
exportMethods(getTree)
exportMethods(getVars)
exportMethods(hasBrothers)
exportMethods(hasChild)
exportMethods(initialize)
exportMethods(instanceDef)
exportMethods(instancePars)
exportMethods(instanceSets)
exportMethods(instanceVars)
exportMethods(isRoot)
exportMethods(show)
exportMethods(wProblem)
